<h2>Equipos</h2>

<app-add-equipo (addEquipo)="addEquipo($event)"></app-add-equipo>

<button (click)="saveLocal()">Guardar Localmente</button>

<table *ngIf="equipos.length>0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Pts</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let equipo of equipos">
            <td>
                <a routerLink="/equipos/{{equipo.nombre}}">
                    {{equipo.nombre}}
                </a>
            </td>
            <td>{{equipo.puntos}}</td>
            <td>{{equipo.PG}}</td>
            <td>{{equipo.PE}}</td>
            <td>{{equipo.PP}}</td>
        </tr>

    </tbody>


</table>
