
<div>
    <strong>Equipo: </strong>
    <span *ngIf="equipo; else elseBlock">{{equipo.nombre}}
        <button (click)="quitarEquipo()">X</button>
    </span>
    <ng-template #elseBlock>Niguno</ng-template>

    <div *ngIf="equipo && configurar">
        <p>Seleccionar jugador:</p>
        <ul >
            <li  *ngFor="let jugador of equipo.jugadores" (click)="addPlayer(jugador)">{{jugador.casaca}} | {{jugador.nombre}} | {{jugador.posicion}}</li>
        </ul>
        
        <button (click)="guardarAlineacion()">Aceptar</button>

        <div id="select-jugadores" *ngIf="jugadores.length!=0">
            <p>Alineacion:</p>
            <ul>
                <li *ngFor="let jugador of jugadores">
                    {{jugador.nombre}} {{jugador.casaca}}
                    <button (click)="quitarJugador(jugador)">x</button>
                </li>
            </ul>
        </div>
    </div>

</div>
