
<div>
    <strong>Equipo: </strong>
    <span *ngIf="equipo; else elseBlock">{{equipo.nombre | uppercase}} </span>
    <ng-template #elseBlock>Niguno</ng-template>

    <div *ngIf="equipo && configurar">
        <!-- <p>Seleccionar jugador:</p> -->
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Casaca</th>
                    <th>Posicion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jugador of equipo.jugadores">
                    <!-- <label> -->
                        <td><input type="checkbox" (change)="addPlayer(jugador)"></td>
                        <td>{{jugador.nombre}}</td>
                        <td>{{jugador.casaca}}</td> 
                        <td>{{jugador.posicion}}</td> 
                    <!-- </label> -->
                </tr>
            </tbody>
        </table>
        
        <button (click)="guardarAlineacion()">Aceptar</button>

        <div id="select-jugadores" *ngIf="jugadores.length!=0">
            <p>Alineacion:</p>
            <ul>
                <li *ngFor="let jugador of jugadores">
                    {{jugador.nombre}} {{jugador.casaca}}
                    <button (click)="quitarJugador(jugador)">x</button>
                </li>
            </ul>
        </div>
    </div>

</div>
