<div>
    <h2>Equipos:</h2>
    <div id="select-equipo" *ngIf="partido.equipo1==undefined || partido.equipo2==undefined">
        Seleccionar equipo:
        <ul *ngIf="equipos">
            <li *ngFor="let equipo of equipos" (click)="agregarEquipo(equipo)">{{equipo.nombre}}</li>
        </ul>
    </div>
    <hr>
    <app-jugador-partido [equipo]="partido.equipo1" (addPlayers)="addPlayers($event)" (dropTeam)="dropTeam($event)"></app-jugador-partido>
    <hr>
    <app-jugador-partido [equipo]="partido.equipo2" (addPlayers)="addPlayers($event)" (dropTeam)="dropTeam($event)"></app-jugador-partido>
    <hr>

    <div *ngIf="partido.jugadoresEquipo1.length>0 && partido.jugadoresEquipo2.length>0"><strong>JUGADAS</strong>
        <ul>
            <li (click)="jugada='gol'">Gol</li>
            <li (click)="jugada='tarjetaAmarilla'">Tajeta Amarilla</li>
            <li (click)="jugada='tarjetaRoja'">Tarjeta Roja</li>
        </ul>

        <div *ngIf="jugada != 'ninguna'">
            <p>Seleccione el equipo: </p>
            <ul>
                <li (click)="jugadaDelEquipo(partido.equipo1)">{{partido.equipo1.nombre}}</li>
                <li (click)="jugadaDelEquipo(partido.equipo2)">{{partido.equipo2.nombre}}</li>
            </ul>

            <div *ngIf="jugadores.length>0">
                <p>Seleccione el jugador: </p>
                <ul>
                    <li *ngFor="let jugador of jugadores" (click)="addJugada(jugador)">{{jugador.nombre}}</li>
                </ul>
            </div>

        </div>
    
        

    </div>



</div>