<div>

    <ul *ngIf="equipos">
        <li *ngFor="let equipo of equipos">{{equipo.nombre}} </li>
    </ul>

    <input #Team type="text" placeholder="Nombre del equipo..." [(ngModel)]="nombreEquipo">
    <button (click)="agregarEquipo(); Team.value=''">Agregar</button>
    <p>{{mensaje}}</p>

    <hr>
    <app-jugador-partido [equipo]="partido.equipo1" (addPlayers)="addPlayers($event)"></app-jugador-partido>
    <hr>
    <app-jugador-partido [equipo]="partido.equipo2" (addPlayers)="addPlayers($event)"></app-jugador-partido>

    <hr>
    <div *ngIf="partido.equipo1 && partido.equipo2"><strong>JUGADAS</strong>
        <ul>
            <li (click)="jugada='gol'">Gol</li>
            <li (click)="jugada='tarjetaAmarilla'">Tajeta Amarilla</li>
            <li (click)="jugada='tarjetaRoja'">Tarjeta Roja</li>
        </ul>
        <!-- Alineacion Equipo: {{partido.equipo1.nombre}}
        <ul>
            <li *ngFor="let jugador of partido.jugadoresEquipo1">{{jugador.nombre}}</li>
        </ul> -->

        <div *ngIf="jugada!=='ninguna'">
            <p>Seleccione el equipo: </p>
            <ul>
                <!-- <li (click)="jugadores=partido.jugadoresEquipo1; equipoJugada = partido.equipo1">{{partido.equipo1.nombre}}</li> -->
                <li (click)="jugadaDelEquipo(partido.equipo1)">{{partido.equipo1.nombre}}</li>
                <li (click)="jugadaDelEquipo(partido.equipo2)">{{partido.equipo2.nombre}}</li>
            </ul>
        </div>
    
        <div *ngIf="jugadores">
            <p>Seleccione el jugador: </p>
            <ul>
                <li *ngFor="let jugador of jugadores" (click)="addJugada(jugador)">{{jugador.nombre}}</li>
            </ul>
        </div>

    </div>



</div>